:root {
    --divwidth: 5%;
    --opacity: 0;
    --unpacity: 100;
    background-color: #EBFF00;
}

#left{
    width: 5%;
    background-color: #0500FF;
    height: 100%;
    position: absolute;
    opacity: 100;
    transition: all 1s;
}

#code {
    margin-top: 55px;
    width: 94.5%;
    height: 853px;
    margin-left: 1em;
    color: white;
    font-family: Consolas, "Courier New", monospace;
    background-color: #FF0000;
    
}

#in {
    margin-left: 2em;
    margin-bottom: 1em;
    margin-top: 1em;
    height: 25px;
    width: 80px;
}

#save{
    padding:0.5em;
    margin-left: 0.5em;
    height: 30px;
    width: 60px;
}

#left:hover{
    --unpacity: 0;
    --divwidth: 500%;
    --opacity: 100;
}


#bars-solid {
    padding-top: 1em;
    margin-left: 0.5em;
    position: absolute;
    left: 20px;
    top: 0;
}

#pe {
    position: fixed;
    right: 30px;
}

#menu{
    padding-top: 1em;
    position: fixed;
}

#menu_complete{
    height: 100%;
    position: absolute;
    width: var(--divwidth);
    opacity: var(--opacity);
    transition: all 1s;
}

#real{
    width: 100%;
    height: 100%;
    margin-left: calc(20% - 1px);
    background-color: #2623CC;
}

.fix{
    position: absolute;
    right: 57px;
}

textarea{
    border: 4px solid #AB2424;
}

.plus {
    width: 35px;
    height: 35px;
    position: absolute;
    left: 18%;
    top: 10px;
    transition: all 0.5s;
}

.plus:hover{
    padding: 0.2em;
    background-color: red;
    border-radius: 40px;
    cursor: pointer;
}

#file {
    opacity: var(--unpacity);
}

