:root {
    --divwidth: 5%;
    --opacity: 0;
    background-color: #EBFF00;
}

#left{
    width: 5%;
    background-color: #0500FF;
    height: 100%;
    position: absolute;
    opacity: 100;
    transition: all 1s;
}

#code {
    margin-top: 55px;
    width: 98%;
    height: 800px;
    margin-left: 1em;
    color: white;
    font-family: Consolas, "Courier New", monospace;
    background-color: #FF0000;
    
}

#in {
    margin-left: 2em;
    margin-bottom: 1em;
    margin-top: 1em;
    height: 25px;
    width: 80px;
}

#save{
    padding:0.5em;
    margin-left: 0.5em;
    height: 30px;
    width: 60px;
}

#left:hover{
    --divwidth: 500%;
    --opacity: 100;
}


#bars-solid {
    padding-top: 1em;
    margin-left: 0.5em;
    position: absolute;
    left: 20px;
    top: 0;
}

#pe {
    position: fixed;
    right: 30px;
}

#menu{
    padding-top: 1em;
    position: fixed;
}

#menu_complete{
    height: 100%;
    position: absolute;
    width: var(--divwidth);
    opacity: var(--opacity);
    transition: all 1s;
}

#real{
    width: 100%;
    height: 100%;
    margin-left: calc(20% - 1px);
    background-color: #2623CC;
}

.fix{
    position: absolute;
    right: 57px;
}
